/* ----------------------------------------------
--------- Basic Setup
------------------------------------------------- */

/* ---------> Variables  */

:root {
  --color-primary: rgba(233, 32, 82, 0.9);
  --color-primary-hover: rgba(233, 32, 82, 0.6);

  --color-white: #fafafa;
  --color-grey-light: #ebebeb;
  --color-grey-dark: #a5a5a5;
  --color-black: #141414;

  --color-category: #154cb3;

  --color-linear-gradient-1: #91eae4;
  --color-linear-gradient-2: #86a8e7;
  --color-linear-gradient-3: #7f7fd5;

  --color-linear-gradient-4: rgba(255, 0, 0, 0.9);
  --color-linear-gradient-5: rgba(219, 0, 219, 0.9);

  --color-linear-gradient-6: rgba(32, 148, 243, 0.9);
}

/* ---------> Reset  */

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

input,
button,
form {
  font-family: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px; Browser Default is 16px */
}

/* ---------> Setup  */

body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-black);

  min-height: 100vh;
  overflow: hidden;

  background: linear-gradient(
    to right bottom,
    var(--color-linear-gradient-1),
    var(--color-linear-gradient-2),
    var(--color-linear-gradient-3)
  );
}

/* ----------------------------------------------
--------- Heading
------------------------------------------------- */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--color-white);
  text-transform: uppercase;

  margin: 3rem;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2rem;
}

/* ----------------------------------------------
--------- TO-DO List
------------------------------------------------- */

/* ---------> TO-DO List Container  */
.todo-app {
  flex: 1vh;
  display: flex;
  flex-direction: column;

  max-width: 90%;

  margin-bottom: 2rem;

  background: rgba(255, 255, 255, 0.25);
  border-radius: 4rem;
  border: 7px solid var(--color-white);

  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);

  overflow: hidden;
}

/* ---------> TO-DO List Header  */
.input-form {
  flex: 0 0 12rem;
  max-width: 50rem;

  display: flex;
  flex-wrap: wrap;
  align-content: center;

  border-radius: 1.5rem;

  background-color: var(--color-white);
}

.input-form > * {
  outline: unset;
  margin-left: 1.2rem;
  padding-left: 0.5rem;
  height: 3.25rem;

  border-radius: 0.5rem;
  border: 1.5px solid var(--color-grey-dark);

  cursor: pointer;

  transition: all 0.3s;
}

.input-form > *:hover,
.input-form > *:focus {
  border: 1.5px solid var(--color-primary);
}

.input-form__description {
  width: 100%;
  height: 4.5rem;
  margin-bottom: 1.5rem;

  border-radius: 1rem;
  cursor: auto;

  font-size: 1.6rem;
}

.submit-btn,
.submit-btn:active,
.submit-btn:focus,
.submit-btn:visited {
  flex-grow: 1;
  height: 4rem;

  padding: 0;

  background-color: transparent;

  border: 0.15rem solid var(--color-primary);
  border-radius: 0.75rem;

  font-weight: bold;
  color: var(--color-primary);

  transition: all 0.15s;
}

.submit-btn:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.input-form__description,
.submit-btn {
  margin-right: 1.2rem;
}

/* ---------> TO-DO List Body  */
.todo-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: scroll;
  overflow-x: hidden;
}

/* ---------> TO-DO List Item */
.todo-list-item {
  width: 95%;
  min-height: 10rem;

  display: flex;
  align-items: center;

  background-color: var(--color-white);
  margin-top: 1.5rem;
  border-radius: 0.75rem;
  border: 0.2rem solid rgba(31, 38, 135, 0);

  list-style: none;
}

.todo-list-item-content {
  flex: 1;

  display: grid;
  grid-template-columns: 1.5fr 4fr 0.55fr 0.75fr;

  align-items: center;
  justify-content: center;
}

/* Icon */
.todo-icon {
  grid-column: 1;

  height: 4rem;
  width: 4rem;
  fill: var(--color-category);
}

.icon-container {
  display: flex;
  justify-self: center;
  align-items: center;
  justify-content: center;

  height: 7rem;
  width: 7rem;
  border: 0.1rem solid var(--color-grey-dark);
  border-radius: 100rem;
}

.todo-description {
  grid-column: 2;
}

.todo-description h3 {
  font-size: 1.75rem;
  font-weight: 700;
}

.todo-description time {
  font-size: 1.5rem;
}

/* Buttons */

.todo-list-item-content > button {
  height: 3rem;
  width: 3rem;

  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
}

.btn-complete > svg {
  grid-column: 3;

  height: 2.25rem;
  width: 2.25rem;
  fill: rgb(25, 172, 32);
}

.btn-delete > svg {
  grid-column: 4;
  height: 2rem;
  width: 2rem;
  fill: rgb(236, 63, 63);
}

/* ---------> TO-DO List Footer  */
.filter-form {
  background-color: violet;
}

/* TO-DO List Scrollbar */
.todo-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: var(--color-white);
}

.todo-list::-webkit-scrollbar {
  width: 1.2rem;
  border-radius: 1rem;
  background-color: var(--color-white);
}

.todo-list::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  -webkit-box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.3);
  background-color: var(--color-primary);
}

/* ----------------------------------------------
--------- Media Queries
------------------------------------------------- */
