/* Modify the background color */ 
.navbar {
    background-color: #0c6b94;
  }

 .navbar .navbar-nav .nav-link {
    color: #ffffff;
    border-radius: .25rem;
    margin: 0 0.25em;
 }

.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  text-decoration: underline;
}

.smaller-badge {
    font-size: 0.4em;
}

.card-img-top {
  width: 100%;
  height: 30vw;
  object-fit: cover;
}